# Ignore Python virtual environment
venv38/
venv/

# Ignore compiled Python files
# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore logs
*.log

# Temporary files
*.swp
*~

# Environment variables file
.env

# Neural Network weights -----------------------------------------------------------------------------------------------
*.weights
*.pt
*.pb
*.onnx
*.engine
*.mlmodel
*.torchscript
*.tflite
*.h5
*_saved_model/
*_web_model/
*_openvino_model/
*_paddle_model/
darknet53.conv.74
yolov3-tiny.conv.15

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Dependencies
/yolov5/.git
/yolov5/__pycache__/
/yolov5/build/
/yolov5/dist/
/yolov5/env/
/yolov5/__init__.pyc
/yolov5/*.pyc
/yolov5/*.pyo
/yolov5/*.pyd
