<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automatic Car Numberplate Detections</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='frontend/style.css') }}">
    <link rel="shortcut icon" href="CogitumTechv2.ico" type="image/x-icon">
</head>
<body>
    


    <div class="content">
        <div class="sidebar">
            <h4>Configurations</h4>
            <form action="#" method="POST" enctype="multipart/form-data">
                <input type="file" name="image_name"  required>
<!--                <select name="">-->
<!--                    <option value="" disabled selected>Select. Camera</option>-->
<!--                    <option value="" >Camera 1</option>-->
<!--                    <option value="" >Camera 2</option>-->
<!--                    <option value="" >Camera 3</option>-->
<!--                </select>-->
<!--                <select name="" id="">-->
<!--                    <option value="" disabled selected>Select. Type Of Recording</option>-->
<!--                    <option value="">Image/Picture</option>-->
<!--                    <option value="" >Past Videos</option>-->
<!--                    <option value="">Live Video</option>-->
<!--                </select>-->
<!--                -->
<!--                <fieldset>-->
<!--                    <legend>Detections</legend>-->
<!--                    <div class="groupinput">-->
<!--                        <input type="checkbox" class="checkbox" name="numberplate" id="numberplate">-->
<!--                        <label for="numberplate">Number Plate</label>-->
<!--                    </div>-->
<!--                    <div class="groupinput">-->
<!--                        <input type="checkbox" class="checkbox" name="vehicle" id="vehicle">-->
<!--                        <label for="vehicle">Vehicle</label>-->
<!--                    </div>-->
<!--                    <div class="groupinput">-->
<!--                        <input type="checkbox" class="checkbox" name="driver" id="driver">-->
<!--                        <label for="driver">Driver</label>-->
<!--                    </div>-->
<!--                    -->
<!--                </fieldset>-->
<!--                <div class="groupinput">-->
<!--                    <input type="range" name="confidence" id="drivers">-->
<!--                    <label for="drivers">Confidence</label>-->
<!--                </div>-->
                

                <button type="submit" class="start">Start Detections</button>
            </form>
        </div>

    {% if upload %}
          <div class="main">
            <div class="video">
<!--                <video src="https://static.vecteezy.com/system/resources/previews/014/394/048/mp4/landscape-view-with-street-and-traffic-of-cars-on-asphalt-street-road-at-intersection-among-the-city-center-of-singapore-city-with-background-of-modern-building-in-singapore-free-video.mp4" controls></video>-->
                <img src="/static/predict/{{upload_image}}" />
            </div>
            <div class="result">
                <h4>
                    Current Detections
                </h4>
                <table>
                    <tr>
                        <th>Number Plate</th>
                        <!-- <th>Vehicle</th> -->
                        <th>Cropped Image</th>
                    </tr>


                    <tr>
                        <td>{{ text }}</td>
                        <!-- <td>Civic</td> -->
                        <td><img class="img-fluid" src="/static/roi/{{ upload_image }}" alt="" /></td>
                    </tr>

                </table>
            </div>

        </div>
{% endif %}
    </div>



<!--  <footer>-->
<!--    Copyright &copy; Cogitum Tech-->
<!--   </footer>-->

    
    
</body>
</html>